<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>


<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        <p>

                    <object
            data="https://www.fapot.or.th/assets/upload/policy/privacy_policy_20211019-1_th.pdf"
            type="application/pdf"
            width="100%"
            height="1000px"
        >
            <iframe
                src="https://www.fapot.or.th/assets/upload/policy/privacy_policy_20211019-1_th.pdf"
                width="100%"
                height="1000px"
                style="border: none;"
            >
                <p>
                    Your browser does not support PDFs.
                    <a href="https://www.fapot.or.th/assets/upload/policy/privacy_policy_20211019-1_th.pdf">Download the PDF</a>
                    .
                </p>
            </iframe>
        </object>
        </p>
        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/privacy.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>