$primary: #15376D;
$primary-light: #F2F7F8;

// Theme fonts
$font-family-title: 'Bai Jamjuree', sans-serif !important;
$font-family-heading: 'DindanMai', sans-serif !important;
$serif: Crimson;
$f-sans-serif: 'Bai Jamjuree', sans-serif !important;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');


$drak: #111827;
$light-drak: #374151;